__pycache__/
**.so*
**.ko*
**.cmd
**.mod*
**.symvers
**.order
*.o
*.pkl
.DS_Store
.vscode

**/.venv
.ruff_cache
.ropeproject
_cache
/.gdb_history
/imgui.ini
/uv.lock

# ignore this, random testing files
log.txt
elfutils/
stuff/
other/
dist/
kmod/
tests/
!tests/
tests/*
!tests/profiling/
!tests/profiling/**
!tests/dap/
!tests/dap/**
!tests/sandbox/
!tests/sandbox/**
tests/dap/**/__pycache__/
tests/dap/**/*.py[co]
tests/dap/**/.pytest_cache/
tests/sandbox/**/__pycache__/
tests/sandbox/**/*.py[co]
tests/sandbox/**/.pytest_cache/
scripts/
