__pycache__/
**.so*
**.ko*
**.cmd
**.mod*
**.symvers
**.order
*.o
*.pkl
.DS_Store

**/.venv
.ruff_cache
.ropeproject
_cache

# ignore this, random testing files
log.txt
elfutils/
stuff/
other/
dist/
kmod/
tests/
scripts/